@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;

	font-family: "Barlow", sans-serif;
}

body {
	display: flex;
	flex-direction: column;

	background-color: #ffffff;
	opacity: 1;
	background-image: radial-gradient(#cccccc 1.7000000000000002px, #ffffff 1.7000000000000002px);
	background-size: 34px 34px;
}

nav {
	display: flex;
	justify-content: center;
	gap: 0.5rem;

	margin: 0.75rem auto;
	padding: 0.75rem;

	margin-bottom: 1.5rem;
	background-color: #fff;

	box-shadow: #54595e33 0px 8px 24px;
	border-radius: 1rem;
}

.gradient {
	background: #833AB4;
	background: linear-gradient(to right, #833AB4 0%, #F41C1C 50%, #B97B24 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-clip: clip;
}

.shadow {
	box-shadow: #666d7233 0px 8px 24px;
}

a {
	all: unset;
	cursor: pointer;
}

a:hover {
	font-weight: bold;

	background: #833AB4;
	background: linear-gradient(to right, #833AB4 0%, #F41C1C 50%, #B97B24 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: clip;
}

@media screen and (max-width: 625px) {
	.shadow {
		box-shadow: none;
	}
}