main {
	max-width: 625px;
	margin: 0 auto;
	padding: 1rem;
}

h1 {
	margin-bottom: 2rem;
}

.contacts-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;


	gap: 1.25rem;
	padding: 1rem;
	background-color: #fff;
}

.contact-item {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;
}

.contact-item:hover {
	transform: scale(1.05);
	transition: all 100ms ease-in-out;
}

@media screen and (max-width: 625px) {
	main {
		padding: unset;
	}

	.contacts-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
}